@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --font1: "Montserrat", sans-serif;
    --font2: "Nunito", sans-serif;
    --font3: arial, helvetica,sans-serif;
}
:root {
    --cor1: #355000;
    --cor2: #567814;
    --cor3: #a4c663;
    --cor4: #d2ee9e;

}
body {
    background-color: white;
   
    
}
header {
    
    background-color: var(--cor2);
    text-align: center;
    padding: 20px;
    color: var(--cor4);
    font-family: var(--font1);
    font-size: .8em;
    margin-bottom: 10px;
    

}
header > h1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);

}
.back {
    font-family: var(--font2);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: var(--cor2);
    width: 200px;
    border-radius: 50px;
    height: 40px;
}
main > h2 {
    display: flex;
    flex-flow: column-reverse wrap;
    
    margin-bottom: 20px;
    background-color: var(--cor4);
    text-align: center;
    color: var(--cor1);
    font-family: var(--font2);
    border-radius: 5px;
    box-shadow: 12px 5px 15px 2px rgba(0, 0, 0, 0.253)
    }
section.dieta {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    
    
}
div.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap:10px;
    
    
    
}
select#alimento {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--cor4);
    color:var(--cor1);
    
    
    
}
input#quantidade {
    height: 60px;
    border-radius: 10px;
    font-size: 1.3em;
    
    background-color: var(--cor3);
    color: var(--cor1);
    margin: 10px;
}
button#btnAdicionar {
    border-radius: 10px;
    background-color:var(--cor1) ;
    color: white;
    font-family: var(--font3);
    text-align: center;
    padding: 15px;
    font-weight: bold;
    transition: background-color .6s, padding .6s ;
}
button#btnAdicionar:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 20px;
   
}

table {
    background-color: var(--cor1);
    color: var(--cor4);
    margin: 10px;
   
}
th {
    border: 1px solid var(--cor4);
    
}
#tabela {
    background-color: var(--cor4);
   color: var(--cor1);
   text-align: center;
   
}
.rv {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    transition: border-radius .6s;
    
}
.rv:hover {
    border-radius: 50%;
}
.xis{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    
}
.xis:hover {
    box-shadow: inset 1px 1px 1px black;
}
#totais {
    font-family: var(--font1);
    background-color: var(--cor4);
    color: black;
}
.btp {
    text-align: center;
    font-weight: bolder;
}

